@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

body {
    margin: 0;
}

header {
    background-color: black;
    color: white;
    max-height: 900px;
    text-align: center;
    
}

.headcordel {
    font-size: 10vw;
    font-weight: bold;
}

header>h1 {
    font-family: 'Passion One';
    font-size: 7vw;
    margin: 0px;
    padding-top: 49px;
    font-variant: small-caps;
}

header>p {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
    margin-top: 0px;
    padding-bottom: 50px;
}
header>p>a {
    text-decoration: none;
    color: white;
    font-weight: bolder;

}

header>p>a:hover {
    text-decoration: underline;
}

main {
    font-family: 'Sriracha';
    font-size: 2.5vw;

}

main > p {
    margin-left: 30px;
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    height: 34px;
    padding: 0px;
    justify-content: center;
    align-items: center;
    display: flex;
}

span {
    font-weight: bolder;
}

#joaninha {
    position: relative;
    background-image: url(imagens/background001.jpg);
    background-size: cover;
    background-color: black;
    height: 60vw;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.521);
    background-attachment: fixed;
    background-position: right center;
    
}

#blockjoanin {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.438);
    color: white;
    height: 30vw;
    width: 30vw;
    margin-left: 2%;
    margin-top: 14%;
    padding: 10px;
    padding-top: 16px;
    padding-bottom: 21px;
}

#livro {
    position: relative;
    background-image: url(imagens/background002.jpg);
    background-size: cover;
    background-color: black;
    height: 60vw;

    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.521);
    background-attachment: fixed;
    background-position: right center;
}

#blocklivro {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.438);
    color: white;
    height: 30vw;
    width: 30vw;
    margin-left: 2%;
    margin-top: 14%;
    padding: 10px;
    padding-top: 16px;
    padding-bottom: 21px;

}